.location__banner--offline {
    background: #98223e;
    padding: 5px;
    font-weight: 600;
    color: #d1d11d;
    font-size: 1rem;
    position: absolute;
    top: 0;
    height: 30px;
    right: 0;
    margin-top: 65px;
    animation: locationAnimation .4s ease-out;
    max-width: 195px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes locationAnimation {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 700px) {
  .location__banner--offline {
    margin-top: 70px;
  }
}

@media only screen and (max-width: 750px) {
  .location__banner--offline {
    padding: 2px;
    height: auto;
  }
}