html,
body {
    min-height: 100%;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

/* body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    height: 100%;
} */

.div__container {
    padding-left: 18px;
    padding-right: 18px;
}

.container__background {
    background: #EEE;
    width: 350px;
    text-align: center;
    margin: 20px auto;
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 15px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #d3d3d3;
    width: 30%;
    max-width: 350px;
    /* height: 250px; */
    transform: translateY(10%);
    margin: 20px auto;
    margin-bottom: 40px;
    padding: 25px;
    border-radius: 2px;
    text-align: center;
}

.form__display {
    transform: translateY(20%);
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #98223e;
  border: none;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 40px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
  font-size: 1rem;
  transition: all .2s ease-out;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #b3b428;
  color: #98223e;
}

.login__title {
    font-weight: 300; 
    text-align: center; 
    margin-top: 0;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    margin-top: 80px;
    margin-bottom: 60px;
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

@media only screen and (max-width: 780px) {
    form {
        width: 50%
    }
}

@media only screen and (max-width: 475px) {
    form {
        width: 70%
    }
    .div__container {
        padding-left: 10px;
        padding-right: 10px;
    }
}