footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: .8rem;
    text-align: center;
    background: #d3d3d3;
    padding: 8px;
    color: #333333;
    /* height: 20px; */
}

@media only screen and (max-width: 475px) {
    footer {
        font-size: .6rem;
    }
}