.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
    
}

.nav {
  overflow: hidden;
  background-color: #d3d3d3;
}

.nav__primary {
  max-width: 1200px;
  margin: 0 auto;
}

.nav-image {
  margin: 10px;
  height: 40px;
}

.nav-link {
  float: left;
  color: #98223e;
  background-color: #d3d3d3;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover,
.nav-link:active {
  color: #b3b428;
}

.nav-right {
  float: right;
}